body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    /* background-color: #7c5e47; */
    display: flex;
    justify-content: flex-start;
    color: #fff;
    padding: 20px;
    background-image:url(images/slider.jpg);
    /* background-size: cover; */
}

header img{
    width: 100px;
    border-radius: 10px;
    /* border: solid; */
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    /* background-color: transparent; */
    /* padding: 10px; */
    margin: auto 0 auto auto;
    
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 10px;
    transition: 0.5s;
    /* border: solid; */
}

header nav a:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.989); 
    border-radius: 5px;
    color: black;
}

footer {
    background-color: #7c5e47;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}